/*hero-section*/
.main .home-section{ 
    background-image: url("/assets/home-bg.png");
    background-size:cover;
    background-position:bottom;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows:1fr; 
}
.main .home-section .hero-main{
    margin: 0 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;   
}
.main .home-section .hero-main .hero-text-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main .home-section .hero-main .hero-text-container h1{
   font-size: 85px;
   font-weight: 400;
   margin:0 0 0 -10px; 
}
.main .home-section .hero-main .hero-text-container h1 span{
    color: var(--primary); 
}

.main .home-section .hero-main .hero-text-container p{
    font-size:18px;
    font-weight: 100;
    margin-top: 0;
    line-height: 35px;
    letter-spacing: 1px;
}

.main .home-section .hero-main .hero-text-container button{
   width: 200px;
   height: 40px;
   background-color:var(--primary);
   border-radius: 5px;
   font-size: 18px;
   border: none;
   font-weight: 500;
   color: #191919; 
   letter-spacing: 1px; 
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.5s; 
   cursor: pointer;
}
.main .home-section .hero-main .hero-text-container button:hover{
    transform: translateY(-15px);
    background: #ae9d0b;
 }


 .main .home-section .hero-main .hero-image-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 80px;  
    justify-content: flex-end;
 } 
.main .home-section .hero-main .hero-image-container img{
   max-height: 424px;
   max-width: 488px;
   height: auto; 
   width: 100%;
   margin-top: 87px;
   transition: 0.5s;
}
.main .home-section .hero-main .hero-image-container img:hover{
    transform: translateY(-20px);
 }
 /*---view port---*/

/*desktop/laptop*/
@media (max-width:1200px){ 
    
    .main .home-section .hero-main .hero-text-container h1 {
        font-size: 75px; 
    }
}

/*Tablet*/
@media (max-width:992px){
    .main .home-section{ 
        height:100vh;
        background-image: url("/assets/home-bg.png");
        background-size:cover;
        background-position:bottom;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows: 1fr;
        grid-row:1/3
    }
    
    .main .home-section .hero-main .hero-text-container h1 {
        font-size: 65px;
        line-height: 85px;
        grid-column: 1/3; 
        font-weight: 400;
        margin: 0 0 8px -10px;
    }
    .main .home-section .hero-main .hero-text-container p {
        font-size: 18px;
        font-weight: 100;
        margin-top: 0; 
        line-height: 30px;
        margin-bottom: -10px;
        width:90%;
    }
    
    .main .home-section .hero-main .hero-image-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 120px;
        width: 100%;
        /* margin-top: 120px; */
        justify-content: flex-end;
     }
     .main .home-section .hero-main .hero-text-container button {
        width: 200px;
        height: 40px;
        background-color: var(--primary);
        border-radius: 5px;
        font-size: 18px;
        border: none;
        font-weight: 500;
        color: #191919;
        margin-top: 60px;
        letter-spacing: 1px;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.5s;
    }
   .main .home-section .hero-main .hero-image-container img{
        max-height: 324px;
        max-width: 448px;
        height: auto;
        width: 100%;
        margin-top: 250px; 
     }
}
 
/*Tablet/Mobile Large*/
@media (max-width:768px){
    .main .home-section .hero-main .hero-image-container {
      display: none;
     }
     .main .home-section .hero-main .hero-text-container { 
        grid-column: 1/3;
    }
    .main .home-section .hero-main .hero-text-container button {
       width:100%;
    }
}
 
/*Tablet/Mobile Large*/
@media (max-width:768px){
    .main .home-section .hero-main .hero-image-container {
      display: none;
     }
     .main .home-section .hero-main .hero-text-container { 
        grid-column: 1/3; 
    }
    .main .home-section .hero-main .hero-text-container button {
       width:100%; 
    }
}

/*Mobile*/
@media (max-width:576px){
    .main .home-section{ 
        display: grid;
        grid-template-rows: 1fr;  
    }
    .main .home-section .hero-main .hero-text-container h1 {  
         font-size:55px; 
    }
    .main .home-section .hero-main .hero-text-container p {
        font-size: 20px;
        max-width: 650px;
        width: 100%;
    }
    
    .main .home-section .hero-main .hero-image-container {
      
     }
     .main .home-section .hero-main .hero-text-container button {
      font-size:18px;
    }
    .main .home-section .hero-main .hero-image-container img{
    }
 
}
@media (max-width:512px)and (min-width:319px){
    .main .home-section{ 
        background-image: url("/assets/home-bg.png");
        background-size:cover;
        background-position:bottom;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows:1fr;  
    }
    .main .home-section .hero-main{ 
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;  
        margin: 0 50px;
        padding: 0;
    }
    .main .home-section .hero-main .hero-text-container h1 {  
         font-size: 48px; 
    }
    .main .home-section .hero-main .hero-text-container p {
        font-size: 20px; 
        width: 100%;
    }
    
    .main .home-section .hero-main .hero-image-container {
      
     }
     .main .home-section .hero-main .hero-text-container button {
      font-size:18px;
    }
    .main .home-section .hero-main .hero-image-container img{
    }
 
}
@media (max-width:320px){
    .main .home-section{ 
        background-image: url("/assets/home-bg.png");
        background-size:cover;
        background-position:bottom;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows:1fr; 
    } 
    .main .home-section .hero-main{ 
        display: grid;
        grid-template-columns: 1fr; 
        margin: 150px 10px; 
    }
    .main .home-section .hero-main .hero-text-container h1 {  
         font-size: 38px; 
    }
    .main .home-section .hero-main .hero-text-container  {  
        margin: 0 30px;
   }
    .main .home-section .hero-main .hero-text-container p {
        font-size: 18px; 
        width: 100%;
    }
    
    .main .home-section .hero-main .hero-image-container {
      
     }
     .main .home-section .hero-main .hero-text-container button {
      font-size:18px;
    }
    .main .home-section .hero-main .hero-image-container img{
    }
 
}
 